  {{ render(controller('ZikulaAdminModule:Admin:adminheader')) }}
<h3>
    <span class="fa fa-list"></span>
    {{ __('Manager')}}
</h3> 
<div class="container-fluid">    
    <div class="list-group col-md-12">
        <div class="list-group-item col-md-12"   style="background: #FFF6DF;">
            <h1> {{ page.title }} </h1>
            <p><small>{{ __('url')}}</small> {{ page.urltitle }}</p>
        </div>
        <div class="list-group-item col-md-12" style="background:#eee;">              
                    <div class="col-md-1">{{ __('Online')}}                
                    </div>                
                    <div class="col-md-3">{{ __('Views')}}: {{ page.views }}                  
                    </div>
                    <div class="col-md-3">{{ __('Layout')}}: {{ page.layout }}                    
                    </div>                
                    <div class="col-md-2 pull-right text-right">
                        <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                    {{ __('Options')}}
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('kaikmediapagesmodule_admin_modify', {'id': page.id}) }}">{{ __('Edit')}}</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">{{ __('Depot')}}</a></li>
                    </ul>
        </div>
                    </div>     
        </div> 
        <div class="list-group-item col-md-12" >          
           {%for image in page.images %}
              <div class="col-md-4">
                <div class="col-md-12 thumbnail">
                {% if image.path %}        
                <img src="{{ app.request.scheme ~ '://' ~ app.request.host ~ '/web/uploads/documents/' ~ image.path}}" />
                {% endif %}
                </div>
              </div>  
           {% endfor %}              
        </div>                          
        <div class="list-group-item col-md-12" >
                 {{ page.content|raw }}               
        </div>
                            
            
   </div>  
</div>
   {{ render(controller('ZikulaAdminModule:Admin:adminfooter')) }}
