  {{ render(controller('ZikulaAdminModule:Admin:adminheader')) }}
<h3>
    <span class="fa fa-list"></span>
    {{  p.__('Manager')}}
</h3> 
<div class="container-fluid">    
    <div class="list-group col-md-12">
        <div class="list-group-item col-md-12"   style="background: #FFF6DF;">
        
        </div>
        <div class="list-group-item col-md-12" style="background:#eee;">              
                    <div class="col-md-1">{{  p.__('Online')}}                
                    </div>                
                    <div class="col-md-6">{{  p.__('Title')}}                   
                    </div>
                    <div class="col-md-3">{{  p.__('Layout')}}                    
                    </div>                
                    <div class="col-md-1 pull-right text-right">{{  p.__('Options')}} 
                    </div>     
        </div>        
              
        <div class="list-group-item col-md-12" >
            <h1> {{ page.title }} </h1>
            <p>{{ page.urltitle }}</p>
                <div class="col-md-12">
                 {{ page.content|raw }}      
                </div>            
        </div>
                            
            
   </div>  
</div>
   {{ render(controller('ZikulaAdminModule:Admin:adminfooter')) }}