{% extends 'KaikmediaPagesModule:Base:admin.html.twig' %}
{% block header %}
    {% set settings='settings' %}
    {{ parent() }}
    {#{ pageAddAsset('stylesheet', zasset('@ZikulaIntercomModule:css/inbox.css')) }#}
{% endblock %} 
{% block title %}
    {% set title_icon="<i class='fa fa-user-secret'></i>" %}
    {% set title=__('Pages') %}
    {{ parent() }}
{% endblock %}
{% block content %}
<h3>
    <span class="fa fa-list"></span>
    {{ __('Manager')}}
</h3> 
<div class="container-fluid"> 
<div class="row">   
<div class="list-group col-md-12">
    <div class="list-group-item col-md-12"   style="background: #FFF6DF;">
            <h1> {{ page.title }} </h1>
            <p><small>{{ __('url')}}</small> {{ page.urltitle }}</p>
    </div>
    <div class="list-group-item col-md-12 clearfix" style="background:#eee;">
           <div class="col-md-3">{{ __('Views')}}: {{ page.views }}</div>                   
			<div class="col-xs-3 col-md-1">		
            {% include "KaikmediaPagesModule:Common:online.menu.html.twig" with {'id': page.id, 'selected': page.online} %}
			</div>	
			<div class="col-xs-3 col-md-1">			            
            {% include "KaikmediaPagesModule:Common:depot.menu.html.twig" with {'id': page.id, 'selected': page.depot} %}	
            </div>	
			<div class="col-xs-3 col-md-1">		
            {% include "KaikmediaPagesModule:Common:inlist.menu.html.twig" with {'id': page.id, 'selected': page.inlist} %}
			</div>	
			<div class="col-xs-3 col-md-1">			            
            {% include "KaikmediaPagesModule:Common:inmenu.menu.html.twig" with {'id': page.id, 'selected': page.inmenu} %}	
            </div>            
			<div class="col-xs-3 col-md-1">
            {% include "KaikmediaPagesModule:Common:layout.menu.html.twig" with {'id': page.id, 'selected': page.layout} %}	
			</div>
			<div class="col-xs-3 col-md-1">
            {% include "KaikmediaPagesModule:Common:language.menu.html.twig" with {'id': page.id, 'selected': page.language} %}	
			</div>              
            <div class="col-md-2 pull-right text-right">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                            {{ __('Options')}}
                              <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                              <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('kaikmediapagesmodule_admin_modify', {'id': page.id}) }}">{{ __('Edit')}}</a></li>
                              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">{{ __('Depot')}}</a></li>
                            </ul>
                        </div>
            </div>     
    </div>                         
    <div class="list-group-item col-md-12 clearfix" >
           {{ page.content|raw }}               
    </div>           
   </div>  
</div>   
</div>
{% endblock %}
{% block footer %}
    {{ parent() }}
    {#{ include('ZikulaIntercomModule:Base:modal.html.twig') }#}
    {#{ pageAddAsset('javascript', zasset('@ZikulaIntercomModule:js/Zikula.Intercom.inbox.manager.js')) }}
    <script>
    (function($) {
            $(function(){
                Zikula.Intercom.InboxManager.init();  
            });
    })(jQuery);
    </script>
    {#{ dump() }#}
{% endblock %}