{% include 'KaikmediaPagesModule:Common:resources.html.twig' %} {{
render(controller('ZikulaAdminModule:Admin:adminheader')) }} {%
form_theme form with ['bootstrap_3_horizontal_layout.html.twig',
'KaikmediaPagesModule:Form:radio.html.twig',
'KaikmediaPagesModule:Form:file.html.twig'] %}
<h3>
	<span class="fa fa-list"></span> {{ __('Manager')}}
</h3>
{{ getstatusmsg() }}
<div class="container-fluid">
	{{ form_start(form) }}
	{{ form_errors(form) }}
	{% include 'KaikmediaPagesModule:Gallery:form.display.html.twig' %}
	<div class="list-group col-md-12">
		<div class="list-group-item col-md-12 clearfix"
			style="background: #eee;">
			<div class="col-xs-12 col-md-2">
				<h4>
					<span class="fa fa-list"></span>{{ __('Title')}}
				</h4>
			</div>
			<div class="col-xs-12 col-md-9">{{ form_widget(form.title, {'attr': {'class': 'input-lg' }}) }}</div>
	</div>
	<div class="list-group-item col-md-12" style="background: #eee;">
			<div class="col-md-12 controls form-inline">
				<p>
					<strong>{{ __('Direct link')}}:</strong>/pages/about/{{form_widget(form.urltitle, {'attr': {'class':'simplebox input-sm'}}) }}
				</p>
			</div>
	</div>
	<div class="list-group-item col-md-12" style="background: #eee;">
			<h4>
				<span class="fa fa-file"></span> {{ __('Content')}}
			</h4>
			{{ form_widget(form.content) }}
	</div>
	<div class="list-group-item col-md-12" style="background: #eee;">
		  <div class="row">
			<div class="col-xs-12 col-md-6">
			<h4>
				<span class="fa fa-file"></span> {{ __('Description')}}
			</h4>
			{{ form_widget(form.description) }}
			</div>
			<div class="col-xs-12 col-md-6">		
        		<div class="col-xs-12 col-md-4 controls form-inline">{{
        			form_label(form.layout, 'Layout', { 'label_attr': {'class':
        			'control-label col-md-4'} }) }} {{ form_widget(form.layout,{
        			'attr': {'class': 'control-label col-md-8'} }) }}
        		</div>       			          			
        		<div class="col-xs-12 col-md-4 controls form-inline">{{
        			form_label(form.language, 'Language', { 'label_attr': {'class':
        			'control-label col-md-4'} }) }} {{ form_widget(form.language,{
        			'attr': {'class': 'control-label col-md-8'} }) }}
        		</div>    			   			
			</div>
		</div>
	</div>
	<div class="list-group-item col-md-12 clearfix"
		style="background: #eee;">
		<h4>
			<span class="fa fa-wrench"></span> {{ __('Options')}}
		</h4>
		<div class="col-xs-12 col-md-3 ">{{ form_widget(form.depot,
			{'label_attr': {'class': 'btn btn-primary radio-inline' }}) }}</div>
		<div class="col-xs-12 col-md-3">{{ form_widget(form.online,
			{'label_attr': {'class': 'btn btn-primary radio-inline' }}) }}</div>
		<div class="col-xs-12 col-md-3 ">{{ form_widget(form.inmenu,
			{'label_attr': {'class': 'btn btn-primary radio-inline' }}) }}</div>
		<div class="col-xs-12 col-md-3">{{ form_widget(form.inlist,
			{'label_attr': {'class': 'btn btn-primary radio-inline' }}) }}</div>
	</div>
	<div class="list-group-item col-md-12 clearfix"
		style="background: #eee;">
		<div class="col-xs-12 col-md-4 controls form-inline">{{
			form_label(form.publishedAt, 'Published', { 'label_attr': {'class':
			'control-label col-md-4'} }) }} {{ form_widget(form.publishedAt,{
			'attr': {'class': 'control-label col-md-8'} }) }}</div>
		<div class="col-xs-12 col-md-4 controls form-inline">{{
			form_label(form.expiredAt, 'Expired', { 'label_attr': {'class':
			'control-label col-md-4'} }) }} {{ form_widget(form.expiredAt,{
			'attr': {'class': 'control-label col-md-8'} }) }}</div>
	</div>
	<div class="list-group-item col-md-12 clearfix"
		style="background: #eee;">
		<div class="col-xs-12 col-md-4 controls form-inline">{{
			form_label(form.author, 'Author', { 'label_attr': {'class':
			'control-label col-md-4'} }) }} {{ form_widget(form.author,{ 'attr':
			{'class': 'control-label col-md-8'} }) }}</div>
		<div class="col-xs-12 col-md-4 controls form-inline">{{
			form_label(form.views, 'Views', { 'label_attr': {'class':
			'control-label col-md-4'} }) }} {{ form_widget(form.views,{ 'attr':
			{'class': 'control-label col-md-8'} }) }}</div>
	</div>
	<div class="list-group-item col-md-12">{{ form_widget(form.save,
		{'attr': {'class': 'btn btn-info pull-right'}}) }}</div>
</div>
{{ form_end(form) }}
</div>
<a href="#" id="addnewimage" > add new</a>
<div id="gallery_new" class="modal fade">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header" style="background:#E4F2FF;">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title"><span class="fa fa-image"></span> {{  __('Gallery')}}</h4>
          </div>
          <div class="modal-body">  
                <div id="image_new" > </div>
            </div>         
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{{  __('Done') }}</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal --> 



{% javascripts '@KaikmediaPagesModule/Resources/public/js/*' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %} {{
render(controller('ZikulaAdminModule:Admin:adminfooter')) }}
