{% stylesheets '@KaikmediaPagesModule/Resources/public/css/*' filter='cssrewrite' %}
<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
 {{ tinymce_init({'theme': {'simple': {'menubar': false}}}) }}
  {{ render(controller('ZikulaAdminModule:Admin:adminheader')) }}
  {% form_theme form with ['bootstrap_3_horizontal_layout.html.twig', 'KaikmediaPagesModule:Form:radio.html.twig', 'KaikmediaPagesModule:Form:file.html.twig'] %}

<h3>
    <span class="fa fa-list"></span>
    {{  p.__('Manager')}}
</h3> 
    {{ getstatusmsg() }}
<div class="container-fluid">
    {{ form_start(form) }}
    {{ form_errors(form) }}
 
    <div class="list-group col-md-12">
        <div class="list-group-item col-md-12 clearfix"   style="background:#eee;"> 
        <div class="col-xs-12 col-md-2">            
             <h4>
            <span class="fa fa-list"></span>
            {{  p.__('Title')}}
            </h4>                               
            </div>             
            <div class="col-xs-12 col-md-9">
              {{ form_widget(form.title, {'attr': {'class': 'input-lg'  }}) }}
            </div>
        </div>
        <div class="list-group-item col-md-12"   style="background:#eee;">     
        <div class="col-md-12 controls form-inline">
            <p><strong>{{  p.__('Direct link')}}:</strong> /pages/about/{{ form_widget(form.urltitle, {'attr': {'class': 'simplebox input-sm'  }}) }}</p>        
        </div>
        </div>
        <div class="list-group-item col-md-12" style="background:#eee;">
        <h4><span class="fa fa-file"></span>
            {{  p.__('Content')}}
        </h4>     
        {{ form_widget(form.content) }}
        </div>          
        <div class="list-group-item col-md-12" style="background:#eee;">              
        <h4><span class="fa fa-image"></span> {{  p.__('Images')}}</h4> 
         <div class="row">         
        {% macro information_prototype(image) %}
            <div class="col-sm-12 thumbnail">
                {% if image.path.vars.value %}        
                <img src="{{ app.request.scheme ~ '://' ~ app.request.host ~ '/web/uploads/documents/' ~ image.path.vars.value}}" />
                {% endif %}
                <div class="row promoted {% if image.path.vars.value %} {% else %} hide {% endif %}">
                <div class="col-md-12">
                 {{ form_widget(image.promoted, { 'label_attr': {'class': 'checkbox-inline'} }) }} 
                </div>
                </div>                  
                <div class="col-sm-12 {% if image.path.vars.value %} hide {% endif %}">{{ form_widget(image.file) }}</div>                           
                <div class="col-sm-12 path hide">{{ form_widget(image.path) }}</div>                 
                <div class="row name {% if image.path.vars.value %} {% else %} hide {% endif %}">
                {{ form_label(image.name, 'Name', { 'label_attr': {'class': 'control-label col-md-2'} }) }} 
                <div class="col-md-10">
                {{ form_widget(image.name,{ 'attr': {'class': 'simplebox'} }) }}
                </div>
                </div>
                <div class="row legal {% if image.path.vars.value %} {% else %} hide {% endif %}">
                {{ form_label(image.legal, 'Credits', { 'label_attr': {'class': 'control-label col-md-2'} }) }}                
                <div class="col-md-10">
                {{ form_widget(image.legal,{ 'attr': {'class': 'simplebox'} }) }}
                {{ form_widget(image.publicdomain, { 'label_attr': {'class': 'checkbox-inline'} }) }} 
                </div>
                </div>                
                <div class="row description {% if image.path.vars.value %} {% else %} hide {% endif %}">
                {{ form_label(image.description, 'Desc', { 'label_attr': {'class': 'control-label col-md-2'} }) }} 
                <div class="col-md-10">
                {{ form_widget(image.description,{ 'attr': {'class': 'simplebox'} }) }}
                </div>
                </div>
                <div class="col-sm-12 menu btn-group btn-group-justified" role="group">
                </div>                                                 
            </div>                                           
        {% endmacro %}
        <ul class="images col-sm-12 list-unstyled" data-prototype="{{ _self.information_prototype(form.images.vars.prototype)|e }}">       
        {# iterate over each existing tag and render its only field: name #}
        {% for image in form.images %}
            <li class="col-xs-12 col-md-2 form-group-sm">           
                {{ _self.information_prototype(image) }}
            </li>
         {% endfor %}
            <li class="col-xs-12 col-md-12 form-group-sm new">           
                <a id="addnew" href="#"><i class="fa fa-plus"> </i> {{  p.__('Add image') }}</a>
            </li>   
        </ul>                                   
        </div>
        </div>
        <div class="list-group-item col-md-12" style="background:#eee;"> 
            <div class="row">
            <div class="col-xs-12 col-md-3">            
             <h4>
            <span class="fa fa-list"></span>
            {{  p.__('Layout')}}
            </h4>                               
            </div>             
            <div class="col-xs-12 col-md-3">            
            {{ form_widget(form.layout) }}                               
            </div>
            </div> 
        </div>        
        <div class="list-group-item col-md-12 clearfix"   style="background:#eee;"> 
        <h4>
            <span class="fa fa-wrench"></span>
            {{  p.__('Options')}}
        </h4> 
            <div class="col-xs-12 col-md-3 ">           
            {{ form_widget(form.depot, {'label_attr': {'class': 'btn btn-primary radio-inline'  }}) }}                               
            </div>
            <div class="col-xs-12 col-md-3">           
            {{ form_widget(form.online, {'label_attr': {'class': 'btn btn-primary radio-inline'  }}) }}                               
            </div>
            <div class="col-xs-12 col-md-3 ">           
            {{ form_widget(form.inmenu, {'label_attr': {'class': 'btn btn-primary radio-inline'  }}) }}                                 
            </div>
            <div class="col-xs-12 col-md-3">           
            {{ form_widget(form.inlist, {'label_attr': {'class': 'btn btn-primary radio-inline'  }}) }}                                
            </div>
        </div>         
        <div class="list-group-item col-md-12 clearfix"   style="background:#eee;"> 
            <div class="col-xs-12 col-md-4 controls form-inline">               
            {{ form_label(form.publishedAt, 'Published', { 'label_attr': {'class': 'control-label col-md-4'} }) }}            
            {{ form_widget(form.publishedAt,{ 'attr': {'class': 'control-label col-md-8'} }) }}            
            </div>
            <div class="col-xs-12 col-md-4 controls form-inline">               
            {{ form_label(form.expiredAt, 'Expired', { 'label_attr': {'class': 'control-label col-md-4'} }) }}            
            {{ form_widget(form.expiredAt,{ 'attr': {'class': 'control-label col-md-8'} }) }}             
            </div>
            <div class="col-xs-12 col-md-4 controls form-inline">            
            {{ form_label(form.language, 'Language', { 'label_attr': {'class': 'control-label col-md-4'} }) }}
            {{ form_widget(form.language,{ 'attr': {'class': 'control-label col-md-8'} }) }}                               
            </div> 
        </div>
        <div class="list-group-item col-md-12 clearfix"   style="background:#eee;"> 
            <div class="col-xs-12 col-md-4 controls form-inline">               
            {{ form_label(form.author, 'Author', { 'label_attr': {'class': 'control-label col-md-4'} }) }}            
            {{ form_widget(form.author,{ 'attr': {'class': 'control-label col-md-8'} }) }}             
            </div>
            <div class="col-xs-12 col-md-4 controls form-inline">            
            {{ form_label(form.views, 'Views', { 'label_attr': {'class': 'control-label col-md-4'} }) }}
            {{ form_widget(form.views,{ 'attr': {'class': 'control-label col-md-8'} }) }}                               
            </div>         
        </div>             
        <div class="list-group-item col-md-12" >
        {{ form_widget(form.save, {'attr': {'class': 'btn btn-info pull-right'}}) }}         
        </div>
    </div>                 
    {{ form_end(form) }} 
</div>
{% javascripts '@KaikmediaPagesModule/Resources/public/js/*' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}    
{{ render(controller('ZikulaAdminModule:Admin:adminfooter')) }} 