{% block header %}
{{ render(controller('ZikulaAdminModule:Admin:adminheader')) }}
{% endblock %}
{% block title %}
      <h1>
       {{ title_icon|raw }} {{ title }}
        {{ pageSetVar('title', title) }}
      </h1>
{% endblock %} 
{% block content %}{% endblock %}

{% block footer %}
{{ render(controller('ZikulaAdminModule:Admin:adminfooter')) }}
{% endblock %}{# empty Twig template #}