{% block header %}
    {{ adminHeader() }}
    {{ pageAddAsset('stylesheet', zasset('@KaikmediaPagesModule:css/common.css')) }}
{% endblock %}
{% block title %}
    <h1>
        {{ title_icon|raw }} {{ title }}
        {{ pageSetVar('title', title) }}
    </h1>
{% endblock %} 
{% block content %}{% endblock %}

{% block footer %}
    {{ adminFooter() }}
{% endblock %}