{% extends 'KaikmediaPagesModule:Base:manager.html.twig' %}
{% block header %}
    {% set settings='settings' %}
    {{ parent() }}
    {{ pageAddAsset('stylesheet', zasset('@KaikmediaPagesModule:css/page.css')) }}
{% endblock %} 
{% block title %}
    {% set title_icon="" %}
    {% set title='Manager' %}
{% endblock %}
{% block content %}
<div id="km_pages_manager" class="manager preview clearfix">
    <div class="container-fluid"> 
        <div class="row">   
            <div class="col-centered text-center col-xs-8">
                <div class="row">   
                    <div class="view-onsite col-xs-3">
                        {% set topic=categorisationHelper.getTopicByArticle(article) %}
                        {% set topic_name=attribute(topic, 'name') is defined  ? topic.name|lower : 'global' %} 
                        <a class="btn btn-lg btn-default"
                           title="{{ __('View') }}"
{#                           href="{{ path('kaikmediapagesmodule_news_display', {'topic_name': topic_name, 'slug' : article.urltitle, 'id': article.id}) }}#}
                           ">
                            <i class="fa fa-tv"></i>
                        </a>
                    </div>   
                    <div class="main-layout-select col-xs-6">
                        {% include "@KaikmediaPagesModule/Common/layout.select.html.twig" with {
                                    'thisname': 'layouts-big',
                                    'id': article.id,
                                    'current_type': preview_type,
                                    'current_name': preview_name,
                                    'layouts': layoutHelper.getLayoutsList(),
                                    'cards': layoutHelper.getCardsList(),
                        } %}
                    </div>   
                    <div class="edit col-xs-3">
                        <a class="btn btn-lg btn-warning"
                           title="{{ __('Edit') }}"
                           href="{{ path('kaikmediapagesmodule_manager_modify', {'id': article.id}) }}">
                            <i class="fa fa-pencil"></i>
                        </a>
                    </div>   
                </div>   
            </div>   
        </div>   
        <div class="row">   
            <div class="main-item-preview center-block">
                <div class="layout-preview-inner full-story">
                    {% if article is defined %}
                        {% include layoutHelper.getPreview(preview_type, preview_name) with {
                            'edit': false,

                        } %}
                    {% endif %}
                </div>   
            </div>   
        </div>   
    </div>
</div>
{% endblock %}
{% block footer %}
    {{ parent() }}
    {{ pageAddAsset('javascript', zasset('@KaikmediaPagesModule:js/Kaikmedia.Pages.Manager.preview.js')) }}
{% endblock %}
