<div class="panel panel-default">
  <div class="panel-body">
    <div class="col-xs-2 col-md-1"><a class='{{ sort.title.class }}' href='{{ sort.title.url }}'>{{ __('Title') }}</a></div>
    <div class="col-xs-2 col-md-1">{{ __('Online')}}</div>
    <div class="col-xs-2 col-md-1">{{ __('Depot')}}</div>
    <div class="col-xs-2 col-md-1">{{ __('In list')}}</div>
    <div class="col-xs-2 col-md-1">{{ __('In menu')}}</div>
    <div class="col-xs-2 col-md-1">{{ __('Layout')}}</div>
    <div class="col-xs-2 col-md-1">{{ __('Language')}}</div>
    <div class="col-xs-2 col-md-1">{{ __('Author')}}</div>
    <div class="col-xs-2 col-md-1">{{ __('Category')}}</div>
  </div>
</div>