{% extends 'KaikmediaPagesModule:Base:manager.html.twig' %}
{% block header %}
    {% set settings='settings' %}
    {{ parent() }}
{% endblock %} 
{% block title %}
    {% set title_icon="" %}
    {% set title='Manager' %}
{% endblock %}
{% block content %}
<div id="km_pages_manager_index" class="col-md-12 clearfix">
    <div class="container-fluid">
        <div class="row">
            {% include '@KaikmediaPagesModule/Manager/manager.list.filters.html.twig' %}
            {% include '@KaikmediaPagesModule/Manager/manager.list.header.html.twig' %}
            <div class="row clearfix">
                {{ pager({rowcount:pages.count,
                             limit:pages.limit,
                             class:'pull-right',
                            posvar:'page',
                           display:'page',
                             route:'kaikmediapagesmodule_manager_list',
                   includePostVars: 0,
                }) }}
            </div>
            <div id="itemsList" class="list-group">
                {% for article in pages.items %}
                    <div class="list-group-item clearfix">
                        {% include '@KaikmediaPagesModule/Manager/manager.list.item.html.twig' %}
                    </div>
                {% endfor %}
            </div>
            <div class="row clearfix">
                {{ pager({rowcount:pages.count,
                             limit:pages.limit,
                             class:'pull-right',
                            posvar:'page',
                           display:'page',
                             route:'kaikmediapagesmodule_manager_list',
                   includePostVars: 0,
                }) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}
    {{ parent() }}
    {{ pageAddAsset('javascript', zasset('@KaikmediaPagesModule:js/Kaikmedia.Pages.Manager.list.js')) }}
{% endblock %}
