{% include 'KaikmediaPagesModule:Common:resources.html.twig'  %}
<div class="panel">
  <div class="panel-body km-podstrona">
	<div > 
	<div class="title col-md-9" > 
	    <h1>{{ page.title }}
		</h1>	
	</div>
	<div class="menu col-md-2 pull-right text-right" > 
	{# %  if ZUserLoggedIn % #}
      <div class="dropdown">
         <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
          {{ __('Options')}}
         <span class="caret"></span>
         </button>
         <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
         <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('kaikmediapagesmodule_admin_modify', {'id': page.id}) }}">{{ __('Edit')}}</a></li>
         <li role="presentation"><a role="menuitem" tabindex="-1" href="#">{{ __('Depot')}}</a></li>
         </ul>
      </div>
    {# % endif % #}
    </div>     	
	</div>
	<div>     	        
	<div class="col-md-12" > 
		{{ notifyDisplayHooks('kaikmediapages.ui_hooks.page.display_view', page.id) }}	        
	    {{ page.content|raw }}      
	</div>	              
	</div>
			<div class="col-md-12 text-center services-bottom">
				<h2>{% trans from "kaikmediakmtheme" %}Want to contact us?{% endtrans %}
					<a class="btn btn-primary btn-info btn-cta" href="{{  path('kaikmediakmdmodule_messages_contact') }}">
                    {% trans from "kaikmediakmtheme" %}Why not by sending a message?{% endtrans %}
                    </a>
				</h2>
			</div>	
  </div>
</div>