{% extends 'KaikmediaPagesModule:Base:user.html.twig' %}
{% block header %}
    {% set settings='settings' %}
    {{ parent() }}
    {{ pageAddAsset('stylesheet', zasset('@KaikmediaPagesModule:css/page.css')) }}
{% endblock %}
{% block title %}
    {% set title_icon="<i class='fa fa-info'></i>" %}
    {% set title=page.title %}
    {{ parent() }}
{% endblock %}
{% block content %}
{# topic #}
{% set topic_title=categorisationHelper.getTopicTitleByArticle(page, app.request.locale) %}
{% set topic_name=categorisationHelper.getTopicNameByArticle(page) %}
{% set topic_icon=categorisationHelper.getTopicAttributeByArticle(page, 'icon') %}
<div id="km_pages_user_index" class="col-md-12 clearfix">
    <div class="pages header row">
        <div class="col-xs-12">
            <h1>
                <a href="{{ path('kaikmediapagesmodule_page_home') }}">
                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                    {{ __('About')}}
                </a>
                {% if topic_title %}
                    <span class="small"> 
                        {{ topic_title }}
                    </span>
                {% endif %}
            </h1>
        </div>
    </div>
    <div class="pages-display-wide">
        <div class="row">
            <div class="full-story col-xs-12">
                {% if page is defined %}
                        {% include layoutHelper.getPreview('layout', page.layout) with {
                            'edit': false,
                            'article': page,
                        } %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{#{{ dump() }}#}
{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}
