{% include 'KaikmediaPagesModule:Common:resources.html.twig'  %}
<div class="panel">
  <div class="panel-body">
	<div > 
	<div class="title col-md-9" > 
	    <h1>{{ page.title }}
		</h1>	
	</div>
	<div class="menu col-md-4 pull-right" > 
	{%  if ZUserLoggedIn %}
      <div class="dropdown">
         <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
          {{ __('Options')}}
         <span class="caret"></span>
         </button>
         <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
         <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('kaikmediapagesmodule_admin_modify', {'id': page.id}) }}">{{ __('Edit')}}</a></li>
         <li role="presentation"><a role="menuitem" tabindex="-1" href="#">{{ __('Depot')}}</a></li>
         </ul>
      </div>
    {% endif %}
    </div>     	
	</div>
	<div> 
	       <div class="col-md-12" >          
	           {%for image in page.images %}
	              <div class="col-md-4">
	                <div class="col-md-12 thumbnail">
	                {% if image.path %}        
	                <img src="{{ app.request.scheme ~ '://' ~ app.request.host ~ '/web/uploads/documents/' ~ image.path}}" />
	                {% endif %}
	                </div>
	              </div>  
	           {% endfor %}              
	        </div>      	        
	<div class="col-md-12" > 	        
	    {{ page.content|raw }}      
	</div>	              
	</div>
  </div>
</div>



