<h2>
    <span class="fa fa-list"></span>
    {{ __('Abouts')}}
</h2>
<div class="container-fluid">  
    {%for page in pages %}      
        <div class="col-lg-12" > 
            <a href="{{ path('kaikmediapagesmodule_user_about', {'urltitle': page.urltitle}) }}"><h1>{{ page.title }}</h1></a>                                               
        </div>
    {% endfor %}
        <div class="col-lg-12" >            
        {% if maxPages > 1 %}
        <ul class="pagination pagination-sm">
        {# `«` arrow  #}
        <li {{ thisPage == 1 ? 'class="disabled"' }}>
            <a href="{{ path('kaikmediapagesmodule_user_abouts', {page: thisPage-1 < 1 ? 1 : thisPage-1}) }}">«</a>
        </li>

        {# Render each page number #}
        {% for i in 1..maxPages %}
        <li {{ thisPage == i ? 'class="active"' }}>
            <a href="{{ path('kaikmediapagesmodule_user_abouts', {page: i}) }}">{{ i }}</a>
        </li>
        {% endfor %}

        {# `»` arrow #}
        <li {{ thisPage == maxPages ? 'class="disabled"' }}>
            <a href="{{ path('kaikmediapagesmodule_user_abouts', {page: thisPage+1 <= maxPages ? thisPage+1 : thisPage}) }}">»</a>
        </li>
        </ul>
        {% endif %}                               
        </div>
    </div>        
</div>
